details.task > summary::before {
    content: "✏";
    cursor: pointer;
    font-family: "PragmataPro Liga";
}
details.task[open] > summary::before {
    content: "🗙";
}
details.task > summary {
    display: inline-block;
}
